/data
*.log

CmdLib/target/debug/
*/venv/
*/node_modules/
target/release/
examples/Marrio/config/data/pc/
examples/Marrio/raspi_a/target/debug/
examples/Marrio/raspi_b/target/debug/
target/debug/
examples/Marrio/raspi_a/Cargo.lock
examples/Marrio/raspi_b/Cargo.lock
examples/loli/encoder_sender/target/
examples/loli/config/data/loli-pc/
